<!-- <h1>Welcomes To {{hotelName}}</h1> -->
 <app-header></app-header>
<p>room works!</p>
<h2>COming SOON!</h2>
<div [hidden]="hideRooms">
    Number Of Rooms
    <div *ngIf="rooms.avilableRooms >0" 
         [innerText]="numberOfRooms"></div>
</div>

<!-- {{rooms?.avilableRooms ?? 'No Rooms'}} -->
 <div *ngIf="selectedRoom"> {{selectedRoom |json}}</div>

 <div>
    <button (click)="addRoom()">Add Room</button>
 </div>

<div *ngIf="hideRooms">
   <app-rooms-list [rooms]="roomList"[title]="title"
   (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>
<h2>hekllow

</h2>