<h1>Welcomes To {{hotelName}}</h1>
<p>rooms works!</p>
<div [hidden]="hideRooms">
    Number Of Rooms
    <div *ngIf="rooms.avilableRooms >0" 
         [innerText]="numberOfRooms"></div>
</div>

<!-- {{rooms?.avilableRooms ?? 'No Rooms'}} -->
 <div *ngIf="selectedRoom"> {{selectedRoom |json}}</div>

<div *ngIf="rooms.avilableRooms > 0 ">
   <app-rooms-list [rooms]="roomList"
   (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>
<h2>hekllow

</h2>